body{
	overflow-x: hidden;
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.book-cover{
	float:left;
	margin-left:0px;
	height: 100%;
	width:10%;
}

.book-info{
	float:left;
	margin-left:5px;
	height: 100%;
	width:89%;
	display:none;
}

.book-attr{
	margin-top:0px;
	margin-right:0px;
	height: 25%; 
	width:100%;
	float: inherit;
}

.book-cont{
	margin-top:5px;
	height: 75%; 
	width:100%;
	float: inherit;
}

#right_panel{
	width:44%;
	height:100%;
	float:left;
	background-color:rgba(128, 128, 128, 0.56)
}

.right-panel-top{
	width:100%;
	height:60px
}

.right-panel-body{
	width:98%;
	height:60px;
	margin-left:1%;
	background-color:white;
	height:600px
}

.to-right-btn{
	width:10%;
	height:50%
}

*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form {
  position: relative;
  width: 200px;
  margin-left: 66%;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  /* background: transparent; */
}
.d3 input {
  width: 100%;
  height: 26px;
  padding-right: 15px;
  border-radius:5px
}
.d3 button {
  height: 26px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}