body{
	overflow-x: hidden;
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}

table{
	width:100%
}

.tbl-div{
	height: 450px
}

.search-key-div{
	height: 60px;
	width:100%
}


.book-cover{
	float:left;
	margin-left:0px;
	height: 100%;
	width:10%;
}

.book-info{
	float:left;
	margin-left:5px;
	height: 100%;
	width:89%;
	display:none;
}

.book-attr{
	margin-top:0px;
	margin-right:0px;
	height: 25%; 
	width:100%;
	float: inherit;
}

.book-cont{
	margin-top:5px;
	height: 75%; 
	width:100%;
	float: inherit;
}

#right_panel{
	width:44%;
	height:100%;
	float:left;
	background-color:rgba(128, 128, 128, 0.56)
}

.right-panel-top{
	width:100%;
	height:30px
}

.right-panel-btn{
	width:10%;
	height:50%;
}

.right-panel-body{
	width:98%;
	height:70px;
	margin-left:1%;
	background-color:white;
	height:600px
}

#iframe_panel{
	display: block;
	height:100%;
	width:100%
}

.to-right-btn{
	width:10%;
	height:50%
}

.book-attr0{
	display:none
}

#main_panel{
	width:50%;
	margin:0% 0% 0% 25%;
	float:left;
}

.search-box{
	height: 40px;
	width:90%;
	border:1px solid #000;
	margin-top: 3%;
	border-radius:10px;
}
.book-cover{
	height:100px;
	width:80px;
	cursor:pointer;
	box-shadow: 2px 2px 5px #888888;
}
.book-cover img{
	cursor:pointer;
	width:100%;
	height:100%
}

.book-tbl-td{
	height:20px;
	font-size:10px
}
.item-text{
	float:left;
	border:1px solid #000;
	border-radius:15px;
	margin-right:0px;
	height: 100%; 
	width:80%;
	font-size: 10px;
}
.item-option-btn{
	float:left;
	height: 100%; 
	width:18%
}

.item-option{
	margin-top:7px;
	width:70%;
	height:100%;
	float:left
}
.item-arrow{
	width:100%;
	height:25%;
	text-align: center
}
.item-num{
	width:100%;
	height:40%;
	text-align: center
}
.arrow-right-black{
	width:100%;
	height:33%;
	text-align: center
}
arrow-right{
	margin-top:3px;
	width:30%;
	height:100%;
	float:left
}
			




/*
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 form {
  position: relative;
  width: 200px;
  margin-left: 66%;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
}
.d3 input {
  width: 100%;
  height: 26px;
  padding-right: 15px;
  border-radius:5px
}
.d3 button {
  height: 26px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
} */